# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| PyCharm            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
to_hour = minutes / 60
print(to_hour)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common data science tools.
- Discuss key concepts in exploratory data analysis.
- Demonstrate basic machine learning algorithms.

## Author
Khaireddine Arbouch